@import "tailwindcss";
@import "tw-animate-css";

/* @plugin "tailwind-scrollbar"; */

@config "../tailwind.config.ts";

/* @import '@layerstack/tailwind/core.css'; */
/* @import '@layerstack/tailwind/utils.css'; */
/* @import '@layerstack/tailwind/themes/basic.css'; */

@source '../../node_modules/svelte-ux/dist';
@source '../../node_modules/layerchart/dist';

/* :root { */
/*   --color-primary: var(--color-emerald-600); */
/*   --color-secondary: var(--color-blue-500); */
/* } */
/**/
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
/* */
*/
/* @layer base { */
/*   *, */
/*   ::after, */
/*   ::before, */
/*   ::backdrop, */
/*   ::file-selector-button { */
/*     border-color: color-mix( */
/*       in oklab, */
/*       hsl(var(--color-surface-content) / 1) 20%, */
/*       transparent */
/*     ); */
/*   } */
/* } */

@utility scrollbar {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-secondary/40 px-5;
    height: 20px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    pointer-events: auto;
    padding: 8px;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary/80;
  }
}

@utility scrollbar-chapters {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-background/20 px-5;
    height: 20px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-accent z-50;
    padding: 8px;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-accent/80;
  }
}

@layer base {
  :root {
    touch-action: pan-x pan-y;
    height: 100%;
    --background: 0 0% 80%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --info: 221.2 83.2% 53.3%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 210 40% 98%;
    --secondary: 230 30% 85%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 0 0% 100%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --info: 221.2 83.2% 53.3%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 210 40% 98%;
    --accent: 240 5.9% 10%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  html {
    height: 100%;
    overflow: hidden;
  }

  .no-blurry {
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .group:has(button:hover) {
    @apply dark:bg-background/40 bg-slate-300;
  }

  .logo-shadow {
    box-shadow:
      #ff67c3 -20px 15px 30px,
      #ff8ab8 -10px -12px 30px,
      #ffaa9f 0px 4px 30px,
      #ffc37d 10px 8px 30px,
      #ffdc5a 20px -3px 30px;
  }

  .backdrop-blur-sm {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(8px);
  }
}

@layer base {
  * {
    @apply border-sidebar;
  }

  li {
    list-style: none;
  }

  body {
    @apply text-foreground;
  }
}

media-radio[aria-checked="true"] {
  background-color: gray;
}
